body {
    padding: 0;
    margin: 0;
}

html, body, #map {
    height: 100%;
    width: 100vw;
}

.container {
    display: grid;
    height: 100%;
    grid-gap: 4px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 60% 40%;
    overflow: hidden;
}

.peta {
    grid-column: 1/-1;
    background-color: orange;
}

.view-map {
    background-color: green;
    grid-column: 1/6;
    background-size: cover;
    object-fit: contain;
}


.reviews {
    text-align: center;
    grid-column: 6/-1;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 25% 75%;
    grid-gap: 10px;
}

.reviews h3 {
    padding: 10px;
    margin: 0px;
}

.rating {
    grid-row: 1/2;
    grid-column: 1/-1;
    background-color: orange;
}

.review {
    grid-row: 2/3;
    grid-column: 1/-1;
    background-color: orangered;
}